@import "../globals/";
@import "../utilities";


.container {
    header {
        width: 100%;
        height: 1048px;
        background: linear-gradient(to right, $color-bg 75%, $color-primary 25%);
        nav {
            max-width: 1652px;
            height: 108px;
            margin: 0 auto;
            padding-top: 20px;
            @include flex-between();
            .logo {
                font-size: 7.9rem;
                font-weight: 700;
                color: $color-primary;
                line-height: 108px;
            }
            .controls {
                width: 50%;
                text-align: left;
                margin-left: -50px;
                li {
                    font-weight: 400;
                    font-size: 1.9rem;
                    line-height: 25px;
                    color: $color-text;
                    margin-right: 40px;
                }
            }
            .user {
                @include flex($justify: center);
                .avt-user {
                    padding: 11px;
                    background: #fff;
                    border-radius: 50%;
                    margin-right: 10px;
                    position: relative;
                    .circle-avt {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        position: absolute;
                        background: #31A24C;
                        top: 0;
                        right: 0;
                    }
                }
                .name-user {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 25px;
                    color: #fff;
                    .dropdown-user {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-top: 6px solid #fff;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        margin-bottom: 2px;
                        margin-left: 3px;
                    }
                }
            }
        }
        #banner {
            max-width: 1652px;
            margin: 0 auto;
            @include flex-between();
            position: relative;
            .box-left {
                position: relative;
                width: 50%;
                .title {
                    opacity: 5%;
                    font-size: 200px;
                    font-weight: 900;
                    position: absolute;
                    left: -10px;
                    top: -200px;
                }
                .desc {
                    font-size: 7.2rem;
                    font-weight: 700;
                    line-height: 85px;
                    color: $color-text;
                    margin-top: 25px;
                    letter-spacing: 1px;
                    margin-bottom: 40px;
                }
                .search-area {
                    width: 670px;
                    height: 90px;
                    background-color: #fff;
                    padding: 36px 0;
                    padding-left: 50px;
                }
                .search-btn {
                    width: 200px;
                    height: 72px;
                    border-radius: 60px 0 0 0;
                    background-color: $color-primary;
                    position: relative;
                    top: -81px;
                    left: 461px;
                    cursor: pointer;
                    span {
                        font-size: 3rem;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
            .box-right {
                width: 878px;
                height: 870px;
                position: relative;
                margin-top: 70px;
                margin-left: 38px;
                padding: 26px 0 0 33px;
                .background-img:first-child {
                    margin-bottom: 25px;
                }
                .banner-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                .sub-banner-img {
                    position: absolute;
                    top: -175px;
                    left: 215px;
                }
            }
            .banner-ft {
                @include flex-between();
                width: 100%;
                position: absolute;
                bottom: 90px;
                left: -135px;
                .location {
                    width: 280px;
                    height: 65px;
                    background: $color-primary;
                    border-top-right-radius: 100px;
                    border-bottom-right-radius: 100px;
                    display: flex;
                    align-items: center;
                    padding: 20px 0;
                    padding-left: 50px;
                    .address {
                        font-size: 3rem;
                        font-weight: 500;
                        margin-left: 20px;
                        color: #fff;
                    }
                }
                .nav-arrow {
                    @include flex($justify: center);
                }
            }
        }
    }
}
