@import "color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-violet);
  background-color: $color-bg;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
}

a {
  text-decoration: none;
  color: $color-text;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 135px;
  padding-right: 135px;
  margin-right: auto;
  margin-left: auto;
}
