@import "color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-violet);
  line-height: 1.5;
  background-color: $color-bg;
}

a {
  text-decoration: none;
  color: $color-text;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
