@import "../globals/";

.header {
  padding-top: 20px;
  background: linear-gradient(
    to right,
    $color-bg 0%,
    $color-bg 70%,
    $color-primary 30%
  );
  height: 100vh;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 72px;
    font-weight: 700;
    color: $color-primary;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      padding: 10px 20px;
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
      background-color: $color-white;
      padding: 10px;
      border-radius: 50%;
    }

    &__icon,
    &__text {
      margin-right: 10px;
    }
  }
}
